*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
    scroll-behavior: smooth;
 }

 .App{
 }

 .page{
    width: 100%;
    flex-grow: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
 }


 .text{
    font-size: 20px;

    &--big{
      font-size: 28px;
    }
 }
 .bold{
   font-weight: 900;
 }

 h2{
   font-size: 45px;
   font-weight: 900;
 }

 h4{
   font-size: 35px;
   font-weight: 900;
 }

 button{
   cursor: pointer;
   transition: all 0.1s;

   &:hover{
      transition: all 0.1s;
      scale: 1.1;
   }

   &.char-button{
      border: 3px solid white;
      color: white;
      background-color: transparent;
      aspect-ratio: 1/1;
      font-size: 50px;
      font-weight: 900;
   }
 }